# Bluestore
bluestore/**/*.o
bluestore/**/*.so
bluestore/test/bluestore_test

# Dependencies
dependencies/

# Example
example/hello-world

# Doxygen
html/

# Meson
bld*/

# Patch
*.orig
*.rej

# Sublime Text
*.sublime-*

# Vim
*.swp
